body {font-family: "proxima-nova", sans-serif;margin: 1px;padding: 1px;}

.header {height: 50px;}
.menuForm {height: 60px;z-index: 10000;}
.pageBody {margin: 5px;}
.divWithBorder, .listTimesheet, .timesheetForm, .projectForm, .taskForm	{
	margin-bottom: 20px;margin-right: 10px;	box-shadow: 10px 10px 5px #888888;	border: solid 1px black;}

.divWithBorder, .listTimesheet {overflow: auto;}
.divWithBorder h1, .divWithBorder h2, .divWithBorder h3, .listTimesheet h2 {padding-left: 10px;}
.timesheetTable, .mainTable {width: 100%;border: 1px solid #999;}
.newRecordTable {width: 100%;border: 1px solid #999;}

/* Столбцы таблицы timesheet */
.colDate {witdh: 13%;
	/* 	-webkit-column-width: 100px; Chrome, Safari, Opera */
	/*     -moz-column-width: 100px;  */
}
.colProject {width: 25%;}
.colTask {width: 21%;}
.colCount {width: 5%; min-width: 58px;}
.colHours {width: 5%; min-width: 45px;}
.colOverHours {width: 5%; min-width: 45px;}
.colComment {width: 25%;}

/* Столбцы таблиц */
.colTaskName {width: 35%;}
.colProjectLeaders {width: 30%;}
.colProjectName {width: 20%;}
.colProjectContract {width: 20%;}
.colProjectActive {width: 7%;}
.colProjectComment {width: 23%;}
/* Столбцы таблицы Задачи */
.colTaskActive {width: 10%;}
.colTaskComment {width: 50%;}

/* Столбце с кнопкой удалить */
#colLast {border: none;background: white;layout:}

.timesheetTable th, .mainTable th, .newRecordTable th, #header-fixed th	{background: #333;color: white;font-weight: bold;}
.timesheetTable td, .timesheetTable th, .mainTable td, .mainTable th,.newRecordTable td, .newRecordTable th, #header-fixed th {
	text-align: left;padding: 5px 10px;border: 1px solid #999;}
#header-fixed {position: fixed;top: 50px;display: none;}
.mainTable tr:nth-child(even), .even, .even input {background-color: #eee;}
.mainTable tbody tr:hover, .timesheetTable tbody tr:hover {background: #BDC3C7;color: #FFFFFF;}
.timesheetTable tbody tr:hover input {background: #BDC3C7;color: #FFFFFF;}
.timesheetForm h1, .projectForm h1, .taskForm h1 {font-size: 16pt;padding-left: 10px;}
.listTimesheet h1 {padding-left: 10px;}
#moreUrl {padding: 10px;}
.buttonAdd {margin: 5px;font-family: sans-serif;font-size: 12pt;}
.input, #datepickerTS {border: 0;width: 100%;}
.input {font-family: sans-serif;font-size: 12pt;height: 100%;}
label.error, .errorMessage {color: red;}
.errorMessage {font-size: 14pt;	margin: 0px;}
input.error {background-color: #ffcccc;}
div.errors {background-color: #ffcccc;border: 2px solid red;}

.timesheet-weekend {color: #ff0000;}
.timesheet-short {color: #b3b300;}
.timesheet-overcount, .timesheet-overcount  input {background: #ffdfdf; font-weight: bold;}
.timesheet-abovecount, .timesheet-abovecount input {background: #d7d7ff; font-weight: bold;}

/* Контейнер для экспорта xls */
.inlineClass {display: inline;}
#saveContainer {background-color: #A9A9A9;height: 45px;width: 380px;margin-bottom: 20px;}
#saveContainer form {height: 100%;vertical-align: middle;padding: 10px 10px;}
#saveContainer form label {font-family: sans-serif;font-size: 12pt;vertical-align: middle;}
#saveContainer form input {font-family: sans-serif;font-size: 12pt;vertical-align: middle;}
#saveContainer form select {font-family: sans-serif;font-size: 12pt;vertical-align: middle;}
#saveInnerContainer {margin: auto;height: 100%;vertical-align: middle;display: inline;}

/* Контейнер для экспорта на странице учета */
#saveCurrentTimesheet {float: right; margin-top: 12px; padding:10px;}
#saveCurrentTimesheet form input {font-family: sans-serif;font-size: 12pt;vertical-align: middle;}

/* Контейнер входа на сайт */
.login-container {margin-top: 100px;background-color: floralwhite;width: 40%;left: 30%;position: absolute; max-width: 500px;}
.login-card {width: 80%;margin: auto;}
.login-form {padding: 10%;}
#loginTemp {background: #D0D0D0;}
#input-anchor {	padding: 6px 10px;}
#rememberMe-label {	padding: 6px;margin-bottom: 0px;display:table-cell;text-align:right;}
#rememberMe-checkbox {margin: 1px;}
#rememberMe-span {padding: 6px 10px;color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;display: inline-block;}

/* Меню*/
.menu {list-style-type: none;margin: 0;padding: 0;overflow: hidden;border: 1px solid #e7e7e7;background-color: #606060;width: 100%;z-index: 10000;}
.menu li {float: left;}
.menuItem {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
.activeMenuItem {display: block;color: white;background-color: #4CAF50;text-align: center;padding: 14px 16px;text-decoration: none;}
.menu li a:hover:not(.activeMenuItem ) {background-color: #101010;}
.fixed {position: fixed;top: 0;overflow: visible;}
#currentUser {float: right;}
#dropdown-content {display: none;position:absolute;background-color: #737373;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); z-index: 10001;}
#dropdown-content a {color: white;padding: 12px 16px;text-decoration: none;display: block;}
#dropdown-content a:hover {background-color: #101010;}
.dropdown:hover #dropdown-content {display: block;}

/* Диаграммы */
.chartContainer {width: 99%;border: 0px solid gray;padding-top: 10px;}
.leftChart {float: left;width: 29%;}
.rightChart {float: left;width: 70%;}
.myChart {height: auto;width: 30%;}

/* Статистика */
.filter {float: left;max-width: 180px;margin: 0;padding: 1em;}
.filter ul {list-style-type: none;padding: 0;}
article {margin-left: 210px;border-left: 1px solid gray;padding: 1em;overflow: hidden;}
.filter h4,	.filter h3 {text-align: center;}
.filter input {margin: auto;font-size: 12pt;}
.filter button {margin: auto;display: block;}
.filter select {width: 100%;font-size: 12pt;}
#typeAllItems, #typeAllItemsPrj {margin-top: 10px;padding-left: 10px;}
.statPeriod {width: 100%;border: 0px;text-align: center;}
.items {display: none;margin-top: 10px;border: solid 1px gray;}
.colPercent{width: 5%;}

/* Страница помощь */
.nav--section {margin-bottom: 20px;}
.nav--section-title {font-size: 22px; font-family: 'Fira Sans',sans-serif; font-weight: 100;margin: 0 0 8px;}
.nav--section-title a {color: #000;text-decoration: none;outline: 0;}
.nav--subsection-title {font-size: 13px;font-weight: 400;font-family: Tahoma,sans-serif;margin: 0 0 8px;}
.nav--subsection-title a {color: #787878;text-decoration: none;}
article h2 {font-size: 28px; font-family: 'Fira Sans',sans-serif; font-weight: 100;}
.menuHelp-wrap {position:absolute;width: 200px; left: 0; bottom: 10px; top: 120px;overflow: auto;}
.menuHelp-wrap-fixed {position: fixed; top: 60px; left:2px;}
.menuHelp {padding: 15px; margin: 0;position:absolute;overflow-y: auto;}
.help-article {padding-top: 25px;color: #333538;}